{{ template "header.html" }}

<div class="row">
  {{ range .videos }}
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <div class="ratio ratio-16x9">
        <iframe
          width="300"
          height="200"
          src="{{ .URL }}"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="card-body">
        <h4 class="card-title">{{ .Title }}</h4>
        <p class="card-text">{{ .Description }}</p>
      </div>
    </div>
  </div>
  {{ end }}
</div>

{{ template "footer.html" }}
